
html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Montserrat", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}




/* - - - - - - - - - - - - - - Type Hierarchy - - - - - - - - - -  */




html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
}

h2, h3, h4, h5 {
  margin: 1.5rem 0 1.38rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  margin-bottom:2rem;
  font-size: 3.2rem;
  font-weight:500;
}

h2 {
  font-size: 2.8rem;
  margin-top: 0;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.3rem;
}

h6,p {
  font-size:1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

small, .text_small {
  font-size: .75rem;
}



 /* - - - - - - - - - - - Reusable Classes- - - - - - - - - - - - - - - -  */



/* - - - - - - - - - - - - - - -Buttons- - - - - - - - - - - - - - - */

.btn-wrap {
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0rem 1rem;
  width:min(25rem,100%);
  border-style:outset;
  border-radius:2rem;
  font-size:2rem;
  color:white;
  text-decoration: none;
  text-transform: capitalize;
  background-color:rgba(112, 128, 144, 0.651);
}

.btn:hover,
.btn:target {
  border:outset gold;
  color:gold
}

.btn:active {
  background-color:rgba(88, 100, 112, 0.747);
  color:gold;
}

/*- - - - - - - - - - - - - - -Containers- - - - - - - - - - - - - - -*/




.container {
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: min(80vw, 100%);
  margin:0 auto;
  padding:1rem;
  align-self: center;
}



/*- - - - - - - - - - - - - - -Logo- - - - - - - - - - - - - - -*/


.logo {
  display:flex;
  width:15rem;
}

.logo:hover {
  width:16rem;
}


/* - - - - - - - - - - - - - - - Main Page - Mobile First!- - - - - - - - - - - - - - - - - - */






/* - - - - - - - - - - - - - - Nav Bar - - - - - - - - - - - - - - */

.navbar {
  background:radial-gradient(rgba(141, 138, 109, 0.137),rgba(109, 135, 141, 0.466)), #003c64;
  padding:1rem 0rem;
  border:solid rgba(109, 135, 141, 0.24)
}

.navbar .container {
  padding: 1rem 0rem;
}

.nav ul {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  width:100%
}

.nav li {
  font-size: 1.2rem;
}

.nav li :hover,
.nav li :target,
.nav li :active {
  color:gold
}

.nav a {
  color: #fff;
  text-decoration: none
}

.logo {
  margin: 0rem 1rem .5rem 1rem;
}


/* - - - - - - - - - - - - - - -Main - - - - - - - - - - - - - - -*/


/* - - - - - - - - - - -Hero- - - - - - - - - - - - - */


.hero {
  background: radial-gradient(rgba(94, 100, 78, 0.596),rgba(109, 135, 141, 0.521)), url('../img/hero-banner.jpg');
  background-position: center;
  padding: 2rem 0rem
}

.hero-content {
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
}

.hero-content p {
  margin-bottom:3rem;
}


/* - - - - - - - - - - - - - Cards - - - - - - - - - - - - */



.cards {
  background:radial-gradient(rgba(141, 138, 109, 0.651),rgba(109, 135, 141, 0.466)),#012a47;
  border: solid rgba(109, 135, 141, 0.24)
}

.cards .container {
  padding:1rem 1rem 0rem 1rem;
}

.col {
  display: flex;
  width:100%;
}

.card {
  background-color: rgba(118, 124, 143, 0.473);
  border:outset white;
}

.card {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-decoration:none;
  padding:1rem;
  border-radius:1rem;
  width:100%;
  margin-bottom: 1rem;
}

.card:hover,
.card:target {
  border:outset gold;
}

.card:active {
  background-color:rgba(65, 69, 80, 0.514);
  border:outset gold;
}

.card-img {
  display:flex;
  align-items: center;
}

.card img {
  display:flex;
  padding:0;
  margin-bottom: 1rem;
  width:20rem;
  border-radius: 1.5rem;
  background-color:rgba(255, 255, 255, 0.356);
}

.card-content {
  color:white;
}


/* - - - - - - - - - - - About - - - - - - - - - - - - - -  */


.about {
  background:radial-gradient(rgba(141, 138, 109, 0.212),rgba(109, 135, 141, 0.24)),#516e85;
}

.about-content {
  padding-bottom: 2rem;
  border:solid rgba(109, 135, 141, 0.61)
}

.about-content h2 {
  text-decoration: underline;
  border-bottom:solid rgba(118, 124, 143, 0.473);
  background-color:rgba(76, 129, 145, 0.788)
}

.about-content p {
  margin-bottom:2rem;
  padding: 0rem 1rem;
}

 /* - - - - - - - - - - - - -  Footer - - - - - - - - - - - - - - -  */

 .footer {
  background-color: rgb(212, 210, 210);
  text-align: center;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer a {
  color: #001a2c;
}

.footer > .container {
  padding: 1rem;
}


 /* - - - - - - - - - - - - - - - Footer Nav - - - - - - - - - - - - */


.nav-footer ul {
  display:flex;
  flex-flow:row nowrap;
  gap:1.5rem;
}

.nav-footer li a {
  text-decoration: none;
  font-size: 1rem;
}

.nav-footer li a:hover,
.nav-footer li a:target,
.nav-footer li a:active {
  text-decoration:underline;
}


 /* - - - - - - - - - - - - - - -Sub Footer - - - - - - - - - - - - - */


.sub-footer {
  background-color: rgba(173, 173, 173, 0.685);
  padding: 0rem;
}

.sub-footer ul {
  display:flex;
  flex-flow:row nowrap;
  text-decoration: none;
  gap:1.5rem;
}

.sub-footer li a {
  text-decoration:none;
  font-size:small
}

.sub-footer li a:hover,
.sub-footer li a:target,
.sub-footer li a:active {
  text-decoration: underline;
}



@media only screen and (min-width: 45em) {


/* - - - - - - - - - Type Hierarchy - - - - - - - - - -  */


h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.75rem;
}

p {
  font-size:1.5rem;
  margin-bottom: 1rem;
}

small, .text_small {
  font-size: .995rem;
}


/* - - - - - - - - - - Navbar - - - - - - - - - - */


.navbar {
  padding: 0rem 0rem;
}  

.navbar .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:.5rem 1rem 0rem 1rem;
  margin: 0,auto;
}

.nav ul{
  flex-flow: row nowrap;
  gap:1.5rem;
}

.nav li {
  font-size: 1.25rem;
}


/* - - - - - - - - - - - - - - -Main - - - - - - - - - - - - - - -*/


/*- - - - - - - - - - - - - - -Hero  - - - - - - - - - - - - - - */


.hero {
  padding: 4rem 2rem;
}


/*  - - - - - - - - - - - - Cards  - - - - - - - - - - - - -*/


.cards .container {
  flex-flow: row wrap;
}

.cards .col:nth-child(2n) .card {
  flex-direction: row-reverse;
}

.card {
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}

.card-content {
  width:100%;
  padding: 0rem 1rem;
}

.card img {
  margin:0;
}


 /* - - - - - - - - - - - - - - - - About  - - - - - - - - - - - - - */


.img-wrap {
  display: flex;
  justify-content: center;
  background-color: rgb(32, 32, 32);
}

.img-wrap img {
  width:60%
}

}

@media only screen and (min-width: 60em) {


/* - - - - - - - - - Type Hierarchy - - - - - - - - - -  */


h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.5rem;
}


h6,p {
  font-size:1.3rem;
}

small, .text_small {
  font-size: 1rem;
}


/* - - - - - - - - - - Navbar - - - - - - - - - - */


.navbar {
    display: flex;
    justify-content: center;
}

.navbar .container {
    display:grid;
    grid-template-columns: 25% 30% 45%;
    margin:0;
}

.navbar .logo {
    grid-column: 1/2;
    width:100%
}

.nav {
    grid-column: 3/4;
    width:100%;
}

.nav li {
    flex-wrap: nowrap;
}


/* - - - - - - - - - - Main - - - - - - - - - - */


.hero {
  padding:10rem 2rem;
}


/* - - - - - - - - - - Cards - - - - - - - - - - - -*/


.cards .container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width:min(80vw, 100%);
  margin: 0 auto;
  align-items: stretch;
}

.col {
  display:flex;
  text-align: center;
  align-items: stretch;
  width:30%
}

.card {
  display:flex;
  text-align: center;
  flex-flow:column nowrap;
  align-items: center;
  width:100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards .col:nth-child(2n) .card {
  flex-direction: column;
  align-items: stretch;
}

.card-img {
  align-items: stretch;
}


 /* - - - - - - - - - - - - About - - - - - - - -- - - - - */


.about .container {
  display:flex;
  align-items: stretch;
  flex-direction: row;
}

.img-wrap {
  display:flex;
  flex-direction: row;
  align-content: center;
}

.img-wrap img {
  display: flex;
  align-self:center;
  width:100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content p {
  text-align: left;
}


  /* - - - - - - - - - - Footer - - - - - - - - - - */


.footer .container,
.sub-footer .container {
  display:grid;
  grid-template-columns: 1fr 2fr;
}

.footer .logo,
.sub-footer small {
  grid-column: 1/2;
    width:100%
}

.nav-footer,
.sub-footer ul {
  grid-column: 3/4;
}

}